/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#main-content {
    /* Styles for your main content */
}

#group-chat {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#chat-messages {
    margin-bottom: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.chat-message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#user-input {
    display: flex;
}

#user-message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#user-input button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#user-input button:hover {
    background-color: #0056b3;
}
