body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#quiz-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    margin-bottom: 10px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

#selection-container {
    text-align: center;
    margin-top: 20px;
}

#score-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
